body {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0, .0);
  background: linear-gradient(to right, #dddddd, #aaaaaa);
}

h1 {
  text-transform: uppercase;
  font-family: sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 30px;
}

a {
  text-decoration: none;

}
.madrid {
  color: #7f7f5e;
  font-size: 20px;
}
.barcelona {
  color: #A50044;
  font-size: 20px;
}

.england {
  color: #FF4136;
  font-size: 20px;
}

.spain {
  color: #FF851B;
  font-size: 20px;
}
.london {
  color: #85144b;
  font-size: 20px;
}

.liverpool {
  color: #3D9970;
  font-size: 20px;
}
.start-over {
  text-transform: uppercase;
  font-size: 30px;
  background: linear-gradient(to right, orange, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

img {
  border-radius: 5px;
  border: 1px solid rgba(0,0,0, .4);
}
